[submodule "modules/runtime"]
	path = modules/runtime
	url = https://github.com/kordexjs/runtime.git
[submodule "modules/bindings"]
	path = modules/bindings
	url = https://github.com/kordexjs/bindings.git
[submodule "modules/std"]
	path = modules/std
	url = https://github.com/kordexjs/std.git
[submodule "modules/cli"]
	path = modules/cli
	url = https://github.com/kordexjs/cli.git
